#
# Edit with the files/folders you are owning
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
/matrix/ @QuentinRa @Delta93500

/algebra/ @AthonSc

/calculus/ @Vivano

/editors/ @QuentinRa

/files_handlers/ @DataSaiyentist @YouennEsnault

/seo/ @QuentinRa

/statistics/ @DataSaiyentist @Vivano